@keyframes vanish {
  from {
    opacity: 0;
  }
  to{
    opacity: 1;
  }
}

@keyframes rotate {
  0%{
    transform: rotate(0deg);
    
  }

  100%{
    transform: rotate(360deg);
    transform-origin: 100% 50%;
  }
  
}

@keyframes borderBlue {
  0%{
    border: 3px solid transparent;
  }

  100%{
    border: 3px solid $Global-blue;
  }
}


@keyframes fromSide {
  0%{
    transform: translate(100%, 0);
    
  }

  100%{
    transform: translate(100%, 0);
  }
  
}

@keyframes deform {
  0%{
    transform: translateY(-10);
  }
  40%{
    transform: matrix(1, 0, 0.1, 1, 0 , -10);
  }
  60%{
    transform: matrix(1, 0, -0.1, 1, 0 , -10);
  }
  100%{
    transform: matrix(1, 0, 0, 1, 0, 0);
  }
}

@keyframes sidetoside {
  0%{
    transform: matrix(1, 0, -0.2, 1, -250 , 0);
  }
  20%{
    transform: matrix(1, 0, -0.2, 1, -250 , 0);
  }
  50%{
    transform: translate(90vw, 0);
    // transform: ;
  }
  100%{
    transform: matrix(1, 0, -0.2, 1, -250, 0);
  }
}

@keyframes raceCar {
  0% {
    transform: translateX(0px);
  }
  25% {
    transform: translateX(2200px) rotate(-10deg);
  }
  50% {
    transform: translateY(2200px);
    opacity: 0;
  }
  75% {
    transform: translateX(-4200px) translateY(300px);
    opacity: 0;
  }

  100% {
    transform: translateX(0px) translateY(0px);
    opacity: 1;
  }
}

@keyframes phone {
  0% {
    transform: rotate(5deg);
  }
  50% {
    transform: rotate(-5deg);
    transform-origin: 100% 100%;
  }
  100% {
    transform: rotate(0deg);
    transform-origin: 100% 100%;
  }
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-100px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes shrink {
  0% {
    transform: scale(1, 0);
    transform-origin: 100% 0;
  }
  // 50% {
  //   transform: scale(1, 0.9);
  //   transform-origin: 100% 100%;
  // }
  100% {
    transform: scale(1, 1);
    transform-origin: 100% 0;
  }
}

@keyframes border {
  0% {
    border: 2px solid transparent;
  }
  50% {
    border: 2px solid $Global-red;
  }
  100% {
    border: 2px solid transparent;
  }
}

