$BgBody: #fcfeff;
$BgDshMenu: #ffffff;
$DshMenuActive: #f1f8fc;
$Global-red: #dc4151;
$Bg-White: #fff;
$Detail-blue: #00a2ff42;
$Brdr-blue: #7cdeff;
$Darker-blue: #4591aa;
$Hover-grey: #00000009;
$SlctdBar: #7cdeff49;
$boxShadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.25);
