$BgBody: #fff;
$BgDshMenu: #ffffff;
$DshMenuActive: #f1f8fc;
$Global-red: #dc4151;
$Darker-red: #be3644;
$Bg-White: #fff;
$Detail-blue: #00759c21;
$Brdr-blue: #6d8d9752;
$Text-grey: #99abb1;
$Global-blue: #00759c;
$Light-blue: #53c9f0;
$Lighter-blue: #e3f7ff;
$Global-grd: linear-gradient(180deg, rgba(0,117,156,1) 0%, rgba(85,148,170,1) 51%, rgba(0,117,156,1) 100%);
$Brdr-grey: #e9e9e9;
$Light-grey: #f1f1f1;
$Darker-blue: #004b64;
$Lighter-blue: #f1f9fc;
$Hover-grey: #00000009;
$SlctdBar: #7cdeff49;
$boxShadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.219);
 
//mediaquerries
$mobile: 440px;
$tablet: 768px;
$descktop: 950px;
$descktop-hd: 1366px;
$descktop-fhd: 1920px;
