$BgBody: #fcfeff;
$BgDshMenu: #ffffff;
$DshMenuActive: #f1f8fc;
$Global-red: #dc4151;
$Bg-White: #fff;
$Detail-blue: #00759c21;
$Brdr-blue: #7cdeff;
$Global-blue: #00759c;
$Global-grd: linear-gradient(180deg, rgba(0,117,156,1) 0%, rgba(85,148,170,1) 51%, rgba(0,117,156,1) 100%);
$Brdr-grey: #cdd0d3;
$Darker-blue: #004b64;
$Lighter-blue: #d6e3e7;
$Hover-grey: #00000009;
$SlctdBar: #7cdeff49;
$boxShadow: 0px 0px 12px 0px rgba(0,0,0,0.32);
 
//mediaquerries
$mobile: 440px;
$tablet: 768px;
$descktop: 950px;
$descktop-hd: 1366px;
$descktop-fhd: 1920px;