//-------------------navbar-style-----------------------------
.navbar-container {
  // margin: 1em 0;

  .navbar-logo {
    position: absolute;
    left: calc(50% - 100px);
    top: 0.2em;
    a {
      display: flex;
      flex-direction: column;
      align-items: center;
      // animation: vanish 3s ease-in-out 1;
      .bg-logo {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $Global-blue;
        border-radius: 50%;
        width: 100px;
        height: 100px;
        img {
          width: 80px;
          height: 80px;
        }
      }
    }
  }

  .navbar-top {
    display: flex;
    // width: 100%;
    justify-content: space-between;
    align-items: center;
    margin: 2em 4em 1em 4em;

    .nav-contacts {
      display: flex;
      justify-content: center;
      width: 40%;

      .follow-us {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;

        p {
          margin: 0 1em;
        }

        a {
          margin: 0 1em;
        }
      }
    }

    .nav-icons {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      width: 40%;

      .logs {
        display: flex;
        align-items: center;
        flex-wrap: nowrap;
        .st0 {
          fill: none;
          stroke: $Global-red;
          stroke-width: 40;
          stroke-miterlimit: 10;
        }
        svg {
          width: 40px;
          height: 40px;
          overflow: visible;
          #cabeça {
            animation: bounce 1s ease-in-out 1;
          }
          #corpo {
            animation: shrink 1s 0.8s ease-in-out 1;
          }
        }
      }

      .wish,
      .shopping-cart {
        display: flex;
        align-items: center;
        // width: 60px;
        // height: 50px;
        // border: 2px solid #ccc;
        overflow: hidden;

        a {
          margin: 0 0 0 0.5em;
        }

        svg {
          width: 40px;
          height: 40px;
          overflow: visible;

          #carrinho {
            display: block;
          }

          #prenda {
            display: none;
          }

          .st0 {
            fill: none;
            stroke: $Global-red;
            stroke-width: 30;
            stroke-miterlimit: 10;
          }

          .st1 {
            fill: none;
            stroke: $Global-red;
            stroke-width: 10;
            stroke-miterlimit: 10;
          }
        }
      }
    }
  }
  .navbar-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $Global-blue;
    margin: 1.5em 0;
    width: 100%;
    -webkit-box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.15);

    .end-links,
    .start-links {
      display: flex;
      margin: 0 1em;
      justify-content: space-evenly;
      width: 40%;

      svg {
        // margin-left: 0.1em;
        width: 40px;
        height: 40px;
        overflow: visible;

        .st1 {
          fill: $Global-red;
          stroke: $Global-red;
          stroke-width: 10;
        }
        .st0 {
          fill: none;
          stroke: $Global-red;
          stroke-width: 40;
        }

        #barrinha {
          animation: rotate 2s ease-in 1;
        }

        #circulo {
          animation: rotate 2s ease-in reverse 1;
        }
      }

      a {
        // &:hover{
        //   background-color: $Global-red;
        //   border-radius: 10px;
        // }

        h6 {
          margin: 1em 0;

          &:hover {
            color: $Global-red;
          }
        }
      }
    }
  }
}

.breadcrumb {
  margin: 0 0 2em 5%;
  font-size: 14px;
  ul {
    display: flex;
    li {
      display: flex;
      color: #00000044;

      a {
        margin: 0 0.5em;
        color: #00000044;
      }
    }
  }
}
//pages components style
.site-container {
  margin: 1em;
  display: flex;
}

.algo {
  display: flex;
  justify-content: center;
  min-width: 20%;
}

.show-products {
  justify-content: flex-end;
  width: 80%;

  .pagination {
    margin: 1em;
    ul {
      display: flex;

      .high-link {
        background-color: #4591aa;
        color: #fff;
        border-radius: 50%;
      }
      a {
        padding: 0.5em;
        margin: 1em;
      }
    }
  }
}

.side-menu {
  width: 200px;
  display: flex;
  flex-direction: column;
  // justify-content: center;
  border: 1px solid $Brdr-grey;
  padding: 1em;
  border-radius: 10px;
  position: fixed;

  .title-menu,
  .categorys-area,
  .price-bar, .discount-area,
  .materials-area,
  .ocasions-area {
    width: 100%;
    margin: 1em 0;

    .group-title {
      font-weight: bold;
      border-bottom: 1px solid #ccc;
      margin: 0 0 0.7em 0;
    }
  }
  .discounts {
    margin: 0.5em;
    .discount {
      color: $Global-red;
    }
  }
  .materials,
  .category {
    margin: 0 0.5em;
    line-height: 1.6;
  }
  .ocasion {
    margin: 0 0.5em;
    line-height: 0.7;

    .ocs {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .menu-icon {
        img {
          width: 100%;
          height: 15px;
        }
      }
    }
  }

  .price-bar {
    line-height: 1.6;

    input[type="range"] {
      height: 10px;
      -webkit-appearance: none;
      margin: 10px 0;
      width: 100%;
    }
    input[type="range"]:focus {
      outline: none;
    }
    input[type="range"]::-webkit-slider-runnable-track {
      width: 100%;
      height: 8px;
      cursor: pointer;
      animate: 0.2s;
      box-shadow: 0px 0px 0px #000000;
      background: #4591aa;
      border-radius: 10px;
      border: 0px solid #285563;
    }
    input[type="range"]::-webkit-slider-thumb {
      box-shadow: 1px 1px 2px #828282;
      border: 0px solid #8a0000;
      height: 14px;
      width: 20px;
      border-radius: 10px;
      background: #dc4151;
      cursor: pointer;
      -webkit-appearance: none;
      margin-top: -3px;
    }
    input[type="range"]:focus::-webkit-slider-runnable-track {
      background: #4591aa;
    }
    input[type="range"]::-moz-range-track {
      width: 100%;
      height: 16px;
      cursor: pointer;
      animate: 0.2s;
      box-shadow: 0px 0px 0px #000000;
      background: #4591aa;
      border-radius: 10px;
      border: 0px solid #285563;
    }
    input[type="range"]::-moz-range-thumb {
      box-shadow: 1px 1px 2px #828282;
      border: 0px solid #8a0000;
      height: 22px;
      width: 12px;
      border-radius: 10px;
      background: #dc4151;
      cursor: pointer;
    }
    input[type="range"]::-ms-track {
      width: 100%;
      height: 16px;
      cursor: pointer;
      animate: 0.2s;
      background: transparent;
      border-color: transparent;
      color: transparent;
    }
    input[type="range"]::-ms-fill-lower {
      background: #4591aa;
      border: 0px solid #285563;
      border-radius: 20px;
      box-shadow: 0px 0px 0px #000000;
    }
    input[type="range"]::-ms-fill-upper {
      background: #4591aa;
      border: 0px solid #285563;
      border-radius: 20px;
      box-shadow: 0px 0px 0px #000000;
    }
    input[type="range"]::-ms-thumb {
      margin-top: 1px;
      box-shadow: 1px 1px 2px #828282;
      border: 0px solid #8a0000;
      height: 22px;
      width: 32px;
      border-radius: 10px;
      background: #dc4151;
      cursor: pointer;
    }
    input[type="range"]:focus::-ms-fill-lower {
      background: #4591aa;
    }
    input[type="range"]:focus::-ms-fill-upper {
      background: #4591aa;
    }

    .bar-caption {
      display: flex;
      align-items: center;
      margin: 0.5em 0 0 0;
      font-size: 0.8em;
      p {
        margin: 0 0.25em;
      }
    }
  }

  // align-items: center;
}

.ocasionCategory {
  display: none;
  line-height: 1.6;
}

//card container and card
.card-box {
  display: flex;
  flex-wrap: wrap;

  .card-prd {
    width: 280px;
    height: 100%;
    margin: 1em;
    // border: 1px solid $Brdr-grey;
    background-color: $Bg-White;
    border-radius: 3px;
    // padding: 0 0 1em 0;
    display: flex;
    flex-wrap: wrap;

    .label-area {
      display: flex;
      justify-content: space-between;

      width: 100%;
    }

    .img-area {
      // margin: 0.5em auto 0.2em auto;
      width: 100%;
      height: 250px;
      // border: 1px solid $Brdr-grey;
      border-top-left-radius: 3px;
      border-top-right-radius: 3px;

      .img-cont {
        height: 250px;
        .img-prd {
          border-top-left-radius: 3px;
          border-top-right-radius: 3px;
          object-fit: cover;
          width: 100%;
          height: 100%;
        }
      }
    }

    .info-area {
      width: 100%;
      h6,
      h5,
      h3 {
        margin: 0.5em 0 0.5em 1em;
      }
      .discount {
        div {
          display: flex;
          align-items: center;
          margin: 0 2em;
          font-family: "Times New Roman", Times, serif;

          s {
            margin: 0 0 0 1em;
          }
        }
      }
    }

    .stars {
      margin: 1em 2em;
      .bg-stars {
        background: $Global-red;
        width: 100px;
        height: 20px;
      }
        img {
          width: 100px;
          position: absolute;
        }
    }

    &:hover {
      box-shadow: $boxShadow;
      cursor: pointer;
    }

    .cart-btn {
      width: 100%;
      height: 60px;
      border-top: 1px solid $Global-blue;
      // background-color: #046b8d27;
      display: flex;
      justify-content: center;
      align-items: center;
      border-bottom-left-radius: 3px;
      border-bottom-right-radius: 3px;

      .h6 {
        color: $Darker-blue;
        transition: ease-in 0.1s;
      }
      &:hover {
        cursor: pointer;
        // color: $Global-red;
        background-color: $Global-blue;
        // border: 2px solid ;
      }
    }
  }
}
//end card container and card
