//-------------------navbar-style-----------------------------
.navbar-container {
  .navbar-logo {
    position: absolute;
    left: calc(50% - 95px);
    top: 0.2em;
    a {
      display: flex;
      flex-direction: column;
      align-items: center;

      &:focus {
        color: $Global-red;
      }

      .bg-logo {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $Global-blue;
        border-radius: 50%;
        width: 100px;
        height: 100px;
        img {
          width: 80px;
          height: 80px;
        }
      }
    }
    .active {
      color: $Global-red;
    }
  }

  .navbar-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2em 4em 1em 4em;

    .nav-contacts {
      display: flex;
      justify-content: center;
      width: 40%;

      .follow-us {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;

        p {
          margin: 0 1em;
        }

        a {
          margin: 0 1em;
        }
      }
    }

    .nav-icons {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      width: 40%;

      .logs {
        display: flex;
        align-items: center;
        flex-wrap: nowrap;
        .st0 {
          fill: none;
          stroke: $Global-red;
          stroke-width: 40;
          stroke-miterlimit: 10;
        }
        svg {
          width: 40px;
          height: 40px;
          overflow: visible;
          #cabeça {
            animation: bounce 1s ease-in-out 1;
          }
          #corpo {
            animation: shrink 1s 0.8s ease-in-out 1;
          }
        }
        .hello {
          &:hover #drop-profile {
            display: block;
          }
          #drop-profile {
            display: none;
            position: absolute;
            background-color: #f9f9f9;
            margin-top: 0.1em;
            box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
            z-index: 1;
            border-radius: 3px;

            li {
              padding: 1em;
              transition: all 0.1s ease-in;

              &:hover {
                background-color: $Detail-blue;
              }
            }
            .logout {
              padding: 1em;
              transition: all 0.1s ease-in;

              &:hover {
                background-color: $Global-red;
                button {
                  color: #fff;
                }
              }
              button {
                background-color: transparent;
                border: none;

                padding: 0;
                cursor: pointer;
              }
            }
          }
        }
      }

      .wish,
      .shopping-cart {
        display: flex;
        align-items: center;
        // width: 60px;
        // height: 50px;
        // border: 2px solid #ccc;
        overflow: hidden;

        a {
          margin: 0 0 0 0.5em;
        }

        svg {
          width: 40px;
          height: 40px;
          overflow: visible;

          #carrinho {
            display: block;
          }

          #prenda {
            display: none;
          }

          .st0 {
            fill: none;
            stroke: $Global-red;
            stroke-width: 30;
            stroke-miterlimit: 10;
          }

          .st1 {
            fill: none;
            stroke: $Global-red;
            stroke-width: 10;
            stroke-miterlimit: 10;
          }
        }
      }
    }
  }
  .navbar-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $Global-blue;
    margin: 1.5em 0;
    width: 100%;
    -webkit-box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.15);
    letter-spacing: -0.01cm;

    .end-links,
    .start-links {
      display: flex;
      margin: 0 1em;
      justify-content: space-evenly;
      width: 40%;

      .nav-link {
        border: 2px solid transparent;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0.5em;
        margin: 0.2em;
        border-radius: 3px;
        transition: border 1s ease-in-out;

        &:focus {
          border: 2px solid $Global-red;
          color: $Global-red;
        }

        &:focus #glow-div {
          animation: border 0.6s ease-in 1;
        }

        #glow-div {
          border: 2px solid transparent;
          padding: 0.3em;
          border-radius: 3px;

          h6 {
            &:hover {
              color: $Global-red;
            }
          }
        }
      }

      .active {
        transition: border 1s ease-in;
        border: 2px solid $Global-red;
        color: $Global-red;
      }
    }
  }
  @keyframes border {
    0% {
      border: 2px solid transparent;
    }
    50% {
      border: 2px solid $Global-red;
    }
    100% {
      border: 2px solid transparent;
    }
  }
}

.mag-glass {
  // margin-left: 0.1em;
  width: 40px;
  height: 40px;
  overflow: visible;

  .st1 {
    fill: $Global-red;
    stroke: $Global-red;
    stroke-width: 10;
  }
  .st0 {
    fill: none;
    stroke: $Global-red;
    stroke-width: 40;
  }

  // #barrinha {
  //   animation: rotate 2s ease-in 1;
  // }

  // #circulo {
  //   animation: rotate 2s ease-in reverse 1;
  // }
}

.breadcrumb {
  margin: 0 0 2em 5%;
  font-size: 14px;
  ul {
    display: flex;
    li {
      display: flex;
      color: #00000044;

      a {
        margin: 0 0.5em;
        color: #00000044;
      }
    }
  }
}
//pages components style
.site-container {
  margin: 1em;
  display: flex;
}

.menu-container {
  display: flex;
  justify-content: center;
  min-width: 20%;
}

.show-products {
  width: 80%;

  .show-header {
    display: flex;
    // flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;

    h3 {
      color: $Brdr-grey;
    }

    select {
      margin: 0 1em;
    }
  }

  .pagination {
    margin: 1em;
    ul {
      display: flex;

      .high-link {
        background-color: $Global-blue;
        color: #fff;
        border-radius: 40%;
      }
      a {
        padding: 0.5em;
        margin: 1em;
      }
    }
  }
}

.side-menu {
  width: 200px;
  display: flex;
  flex-direction: column;
  // justify-content: center;
  border: 1px solid $Darker-blue;
  box-shadow: $boxShadow;
  padding: 1em;
  border-radius: 3px;
  position: fixed;

  .title-menu,
  .categorys-area,
  .price-bar,
  .discount-area,
  .materials-area,
  .ocasions-area {
    width: 100%;
    margin: 1em 0;

    .group-title {
      font-weight: bold;
      border-bottom: 1px solid #ccc;
      margin: 0 0 0.7em 0;
    }
  }
  .discounts {
    margin: 0.5em;
    .discount {
      color: $Global-red;
    }
  }
  .materials,
  .category {
    margin: 0 0.5em;
    line-height: 1.6;
  }
  .ocasion {
    margin: 0 0.5em;
    line-height: 0.7;

    .ocs {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .menu-icon {
        img {
          width: 100%;
          height: 15px;
        }
      }
    }
  }

  .price-bar {
    line-height: 1.6;

    input[type="range"] {
      height: 10px;
      -webkit-appearance: none;
      margin: 10px 0;
      width: 100%;
    }
    input[type="range"]:focus {
      outline: none;
    }
    input[type="range"]::-webkit-slider-runnable-track {
      width: 100%;
      height: 8px;
      cursor: pointer;
      animate: 0.2s;
      box-shadow: 0px 0px 0px #000000;
      background: #4591aa;
      border-radius: 10px;
      border: 0px solid #285563;
    }
    input[type="range"]::-webkit-slider-thumb {
      box-shadow: 1px 1px 2px #828282;
      border: 0px solid #8a0000;
      height: 14px;
      width: 20px;
      border-radius: 10px;
      background: #dc4151;
      cursor: pointer;
      -webkit-appearance: none;
      margin-top: -3px;
    }
    input[type="range"]:focus::-webkit-slider-runnable-track {
      background: #4591aa;
    }
    input[type="range"]::-moz-range-track {
      width: 100%;
      height: 16px;
      cursor: pointer;
      animate: 0.2s;
      box-shadow: 0px 0px 0px #000000;
      background: #4591aa;
      border-radius: 10px;
      border: 0px solid #285563;
    }
    input[type="range"]::-moz-range-thumb {
      box-shadow: 1px 1px 2px #828282;
      border: 0px solid #8a0000;
      height: 22px;
      width: 12px;
      border-radius: 10px;
      background: #dc4151;
      cursor: pointer;
    }
    input[type="range"]::-ms-track {
      width: 100%;
      height: 16px;
      cursor: pointer;
      animate: 0.2s;
      background: transparent;
      border-color: transparent;
      color: transparent;
    }
    input[type="range"]::-ms-fill-lower {
      background: #4591aa;
      border: 0px solid #285563;
      border-radius: 20px;
      box-shadow: 0px 0px 0px #000000;
    }
    input[type="range"]::-ms-fill-upper {
      background: #4591aa;
      border: 0px solid #285563;
      border-radius: 20px;
      box-shadow: 0px 0px 0px #000000;
    }
    input[type="range"]::-ms-thumb {
      margin-top: 1px;
      box-shadow: 1px 1px 2px #828282;
      border: 0px solid #8a0000;
      height: 22px;
      width: 32px;
      border-radius: 10px;
      background: #dc4151;
      cursor: pointer;
    }
    input[type="range"]:focus::-ms-fill-lower {
      background: #4591aa;
    }
    input[type="range"]:focus::-ms-fill-upper {
      background: #4591aa;
    }

    .bar-caption {
      display: flex;
      align-items: center;
      margin: 0.5em 0 0 0;
      font-size: 0.8em;
      p {
        margin: 0 0.25em;
      }
    }
  }

  // align-items: center;
}

.ocasionCategory {
  display: none;
  line-height: 1.6;
}

//card container and card
.card-box {
  display: flex;
  flex-wrap: wrap;

  .card-prd {
    width: 280px;
    height: 100%;
    margin: 1em;
    // border: 1px solid $Darker-blue;
    background-color: $Bg-White;
    border-radius: 6px;

    .wish {
      position: absolute;
      margin: 1em;
      img {
        width: 25px;
      }
    }
    .icon-cont {
      width: 100%;
      display: flex;
      justify-content: flex-end;
      .promo-icon {
        background-color: $Global-red;
        padding: 0.2em;
        border-radius: 6px;
        color: #ffff;
        font-weight: 600;
        position: absolute;
        margin: 1em;
      }
    }

    .label-area {
      display: flex;
      justify-content: space-between;

      width: 100%;
    }

    .img-area {
      // margin: 0.5em auto 0.2em auto;
      width: 100%;
      height: 250px;
      // border: 1px solid $Brdr-grey;
      border-top-left-radius: 6px;
      border-top-right-radius: 6px;

      .img-cont {
        height: 250px;
        .img-prd {
          border-top-left-radius: 6px;
          border-top-right-radius: 6px;
          object-fit: cover;
          width: 100%;
          height: 100%;
        }
      }
    }

    .info-area {
      width: 100%;
      h6,
      h5,
      h3 {
        margin: 0.5em 0 0.5em 1em;
      }
      .discount {
        div {
          display: flex;
          align-items: center;
          margin: 0 2em;
          font-family: "Times New Roman", Times, serif;

          s {
            margin: 0 0 0 1em;
          }
        }
      }
    }

    &:hover {
      box-shadow: $boxShadow;
      cursor: pointer;
    }

    .cart-btn {
      // font-size: 0.875rem;
      // text-transform: uppercase;
      // letter-spacing: 0.04em;
      // border: 1px solid var(--red);
      // box-shadow: 0 0 4px $Global-red;
      cursor: pointer;
      // perspective: 1000px;
      // position: relative;
      overflow: hidden;
      width: 100%;
      height: 100%;

      button {
        background-color: transparent;
        // position: absolute;
        // margin: -2em 0;
        // padding: 0 5em;
        font-size: 0.875rem;
        text-transform: uppercase;
        letter-spacing: 0.04em;
        cursor: pointer;
        border-top: 1px solid $Global-blue;
        border-bottom: none;
        border-left: none;
        border-right: none;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 50px;
        padding: 0;
        // color: white;
        // text-align: center;

        &:hover {
          animation: color ease-in 1500ms 1;
          color: white;
        }

        h5 {
          position: absolute;
          // margin: -1em 0 ;
        }

        &:hover .bg-anim {
          display: block;
        }

        .bg-anim {
          cursor: pointer;
          animation: fill ease-in 1500ms 1;
          color: white;
          position: relative;
          display: none;
          height: 100%;
          width: 200%;
          transform: translateX(0);
          background-color: $Global-blue;
          overflow: hidden;
        }
      }

      @keyframes fill {
        0% {
          transform: translateX(-300px);
        }
        50% {
          transform: translateX(-50px);
        }
        100% {
          transform: translateX(0);
        }
      }
      @keyframes color {
        0% {
          color: black;
        }
        50% {
          color: white;
        }
        100% {
          color: white;
        }
      }
    }
  }
}

.stars {
  width: 100px;
  margin: 1em 2em;
  background-color: rgba(255, 0, 0, 0.082);
  .bg-stars {
    background: $Global-red;
    width: 0;
    height: 20px;
  }
  img {
    width: 100px;
    position: absolute;
  }
}
//end card container and card

//Product Page

.product-info {
  display: flex;
  flex-wrap: wrap;

  .product-header {
    width: 100%;
    display: flex;
    flex-wrap: wrap;

    .ranking {
      display: flex;
      align-items: flex-end;
      width: 50%;

      p {
        padding: 0.9em 0;
      }
    }
    .share {
      width: 50%;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      ul {
        display: flex;
        a {
          display: flex;
          align-items: center;
          margin: 0.2em;
        }
      }
    }
  }
  .product-images {
    width: 50%;

    .images {
      // padding: 1em;
      border: 2px solid $Brdr-grey;
      border-radius: 3px;
      overflow: hidden;
      height: 500px;

      img {
        height: 500px;
        width: 100%;
        object-fit: contain;
        background-color: #f3f3f377;

        transition: transform 0.6s;
        &:hover {
          transform: scale(1.2);
        }
      }
    }
    .miniatures {
      display: flex;
      margin: 1em 0;
      .min-image {
        img {
          width: 100px;
          height: 100px;
          object-fit: cover;
          margin: 0 0.5em;
          border-radius: 3px;
          opacity: 0.5;
          &:hover {
            cursor: pointer;
            opacity: 1;
          }
          // object-position: center;
        }
      }
    }
  }
  .product-details {
    width: 45%;
    margin: 0 0 0 1em;

    .price,
    .shipping,
    .details {
      margin: 1em 0;
      padding: 1em 0;
      border-bottom: 1px solid $Darker-blue;

      .drop-button {
        display: flex;
        border: 1px solid $Darker-blue;
        width: 130px;
        align-items: center;
        padding: 0.5em;
        border-radius: 3px;
        justify-content: space-between;
        cursor: pointer;

        img {
          width: 0.7em;
          height: 0.7em;
        }
      }

      .drop-color {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        border: 1px solid $Darker-blue;
        margin-top: 0.1em;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        z-index: 1;
        border-radius: 3px;
        cursor: pointer;

        li {
          padding: 1em;
          transition: all 0.1s ease-in;

          &:hover {
            background-color: $Detail-blue;
          }

          .colorSquare {
            width: 10px;
            height: 10px;
            margin-right: 0.5em;
          }
        }
      }

      .drop {
        display: block;
      }

      .promo {
        display: flex;
        align-items: center;

        span {
          color: $Global-red;
          padding: 0.5em;
          border-radius: 5px;
          background-color: rgba(252, 160, 160, 0.212);
          margin: 0 5em;
        }
      }
    }
  }
}

.product-extra {
  margin: 7em 0;
  .title {
    display: flex;
    align-items: center;
    // justify-content: space-between;
    border-bottom: 2px solid $Darker-blue;
    margin: 2em 0;
    h3 {
      position: absolute;
      background-color: white;
      padding: 0 1em 0 0;
    }
    .toogle-bg {
      position: absolute;
      right: 0;
      margin: 0 3em 0 0;
      background-color: white;
      padding: 0.6em 0.5em 0.5em 0.5em;
      border: 2px solid $Darker-blue;
      border-radius: 5px;
      img {
        width: 22px;

        // border: 1px solid rgba(0, 0, 0, 0.2);
        transform-origin: 50% 50%;
        transition: all 0.3s;
      }
    }
  }
  .description {
    margin: 3em 2em 5em 2em;
    h6 {
      font-weight: 500;
      color: #828282;
      margin: 0.5em 0;
    }
  }
}

.add-reviews {
  display: flex;
  justify-content: flex-end;
  margin: 2em;
}

.user-review {
  display: flex;
  align-items: center;
  border: 1px solid #dc415017;
  box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.32);
  border-radius: 5px;
  margin: 1em 0;
  .comentary {
    margin: 0 1em;
  }
}

.card-center {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  // margin-top: 5em;

  .card-header {
    width: 100%;
    text-align: center;
    font-weight: bold;
    color: $Global-red;
    margin: 2% 0 1em 0;
  }
  .card-body {
    display: flex;
    width: 100%;
    justify-content: center;
    .form-control {
      width: 100%;
      padding: 0.5em 0.5em;
      border-radius: 5px;
    }

    .button-form {
      margin: 1em 0;
      .btn-pass {
        width: 100%;
        text-align: center;

        .button-login {
          background-color: rgb(231, 243, 250);
          padding: 0.3em 2em;
          font-weight: bold;
          border-radius: 5px;
          border: 2px solid $Darker-blue;
          // color: white;

          &:hover {
            background-color: $Darker-blue;
            color: #fff;
            border: 2px solid $Global-blue;
            cursor: pointer;
          }
        }
        .password-link {
          margin: 0 0 0 1em;
          color: $Global-red;
          font-weight: bold;
        }
      }

      .register-link {
        border-top: 1px solid $Darker-blue;
        text-align: center;
        width: 100%;
        margin: 1em 0;
        padding: 1em;
        a {
          color: $Darker-blue;
          font-weight: bold;
          &:hover {
            color: #000;
          }
        }
      }
    }
  }
}

.verify-card {
  // border: 1px solid $Darker-blue;
  // padding:2em;
  display: flex;
  flex-wrap: wrap;
  // justify-content:center;
  height: 100vh;
  align-items: center;
}

#profile {
  display: flex;
  flex-direction: row;
  width: 100%;

  #dash-screen {
    width: 80%;
  }
  #profile-menu {
    width: 20%;
    // background-color: #fff9f7;
    border: 1px solid #46d1ff23;
    border-radius: 3px;
    margin: 0 1em;

    .link-cont {
      border-bottom: 1px solid #46d1ff23;
      border-radius: 3px;

      &:hover {
        background-color: $DshMenuActive;
      }
    }
  }
}

.content {
  .fields {
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    margin: 2em 0;

    .update-link {
      display: flex;
      justify-content: flex-end;
      width: 80%;

      .edit-btn {
        position: absolute;
        margin: 1em 0;
      }
    }
    form {
      width: 100%;
    }
    .field {
      // display: flex;
      // flex-wrap: wrap;
      // text-align: center;
      width: 100%;
      margin: 1em;
    }
    .button {
      width: 100%;
      margin: 1em 0;
      text-align: center;
    }
  }
}

.shop-table {
  border: 1px solid $Brdr-grey;
  padding: 1em;
  border-radius: 3px;

  img {
    border-radius: 3px;
  }

  input[type="number"] {
    width: 50px;
  }
}

.cart-empty {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10em;
}

.home-intro {
  .home-anim {
    display: flex;
    flex-wrap: wrap;
    padding: 4em 0;
    justify-content: center;
    border-bottom: 1px solid $Detail-blue;
    .title {
      display: flex;
      width: 70%;
      margin: 0 4em;
      text-decoration: underline;
      text-decoration-color: $Global-red;
    }
    .text {
      display: flex;
      width: 60%;
      align-items: center;
      padding: 0 2em;
      justify-content: space-around;
    }
    .animation {
      display: flex;
      justify-content: center;
      width: 30%;
      video {
        border-radius: 6px;
        width: 300px;
        // height: 300px;
      }
    }
  }
}

.home-promo {
  // width: 100%;
  height: 350px;
  border: 1px solid $Global-red;
  margin: 2em 0;
  border-radius: 6px;
}

.home-contacts {
  // margin: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $Global-blue;
  border-radius: 6px;
  box-shadow: inset 0px 0px 5px 0px rgb(255, 255, 255);

  .form-cont {
    border-radius: 6px;
    background-color: white;
    margin: 2em 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 60%;
    height: 100%;
    border: 1px solid black;
    padding: 2em 0;
    box-shadow: $boxShadow;

    .title {
      width: 100%;
      justify-content: center;
      border-bottom: 1px solid $Darker-blue;

      h2 {
        margin: 0 0 0.5em 0;
        color: $Darker-blue;
      }
      p {
        position: absolute;
        margin-left: -50%;
        margin-top: -1%;
        color: $Global-red;
      }
    }

    div {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }
    .contact-form {
      margin: 1em;
    }
    .button-form {
      width: 100%;
      display: flex;
      justify-content: center;
    }
  }
}

.home-social {
  width: 100%;
  display: flex;
  // align-items: center;
  // justify-content: center;
  background-color: $Global-red;
  height: 200px;
  margin: 2em 0;
  z-index: -1;
  overflow: hidden;
  border-radius: 6px;

  .bg-img {
    width: 200px;
    height: 200px;
    background-color: rgba(0, 183, 255, 0.137);
    border-radius: 50%;
    // border: 2px solid rgba(0, 183, 255, 0.034);
    box-shadow: 0px 0px 10px 0px rgba(0, 183, 255, 0.034);
    top: 0;
    left: 0;
    position: sticky;
    pointer-events: none;
    z-index: 1;
  }

  .bg-logo {
    background-image: url(../../storage/app/public/images/logos/Logo-fundo-.png);
    background-position: center;
    background-size: contain;
    background-repeat: round;
    background-size: 100px;
    z-index: 2;
    position: absolute;
    height: 200px;
    width: calc(100% - 2em);
    display: flex;
    align-items: center;
    .follow {
      width: 35%;
      text-align: center;
      color: white;
      // position: absolute;
    }

    .social {
      // position: absolute;
      width: 60%;
      display: flex;
      justify-content: space-around;
    }
  }
}

.dynamic-box {
  margin: 4em 0;
  .nav-menu {
    display: flex;

    .option{
      margin: 0 0.5em 0 0;
      padding: 1em;
      background-color: #fff;
      border: 2px solid $Global-blue;
      color: $Global-blue;
      border-top-left-radius: 6px;
      border-top-right-radius: 6px;
    }

    .active{
      background-color: $Global-blue;
      color: #fff;
    }
  }
  .info {
    border: 1px solid $Global-blue;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;
    
    .option-selected{
      margin: 1em 2em;
      .title{
        margin: 1em 0;
        color: $Darker-blue;
      }
      .text{
        line-height: 1.7em;
      }
    }
  }
}
