
#dashboard{
  display: flex;
  flex-direction: row;
  width: 100%;

  
}

#dash-screen {
  background-color: aqua;
  width: 85%;

}

#dash-menu {
  width: 15%;


}
.sticky {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: flex-start;
  position: -webkit-sticky;
  position: sticky;
  top:0;


  .dash-link-cont {
    margin: 1em;
    img{
    width: 130px;
    height: 14 0px;
    }
  }

  .dash-nav-link{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin: 1em;
    border-top: 1px solid black;
    a{
      width: 80%;
      cursor: pointer;

    }
    h3{
      width: 20%;
      cursor: pointer;
    }

  }
}

.dash-nav-option {
  display: none;
  margin: 0.5rem 0.8rem 0.5rem 0.8rem;
  width: 100%;

  li{
    margin-top: 0.5rem;
  }
}

.blank-space{
  height: 2rem;

}



.show {
  display: block;
}

