

#dashboard{
  display: flex;
  flex-direction: row;
  width: 100%;

  
}

#dash-screen {
  width: 80%;

}

#dash-menu {
  width: 20%;
  background-color:$DM-lightblue;
  height: 100vh;
  position: sticky;
  top:0;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.25);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.25);
  box-shadow:  0px 0px 5px 0px rgba(0,0,0,0.25);
  border-radius: 2px;

}
.sticky {
  display: flex;
  flex-direction: column;
  align-items: center;

  .dash-nav-link{
    width: 100%;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    // -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.25);
    // -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.25);
    // box-shadow:  0px 0px 5px 0px rgba(0,0,0,0.25);
    // border-radius: 2px;

  }

  .dash-cont-logo {
    width: 100%;
    background-color: $DM-red;
    padding: 0.5em;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.25);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.25);
    box-shadow:  0px 0px 5px 0px rgba(0,0,0,0.25);
    border-radius: 2px;
    
    .dash-logo{
      width: 100%;
      text-decoration: none;
      color: #000;
      display: flex;
      // flex-wrap: wrap;
      align-items: center;
      font-weight: bold;
    }
    img{
      width: 100px;
      height: 100%;
      }
  }


  .dash-link-cont {
    width: 100%;
  }

  .link-cont{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap;
    padding: 2em 0 2em 0; 
    // border-radius:10px 10px 0 0;

    a{
      font-size: 1.2em;
      color: #000;
      font-weight: bold;
      margin-left: 2em;
      cursor: pointer;

    }
    .menuIcon{
      margin-right: 1em;
      cursor: pointer;

      img{
        width: 15px;
        height: 100%;
      }
    }

    
  }

  .active{
    background-color: $DM-blue;
  }

  
}

.title-cont{

  padding: 1em;
}

.dash-nav-option {
  display: none;
  // border-radius: 2px;
  padding: 0.5em 0 0.5em 0;
  background-color: #94c9ff;
  border-radius: 0 0 2px 2px;

  -webkit-box-shadow: inset 0px 0px 2px 0px rgba(0,0,0,0.25);
  -moz-box-shadow: inset 0px 0px 2px 0px rgba(0,0,0,0.25);
  box-shadow: inset 0px 0px 2px 0px rgba(0,0,0,0.25);

  li{
    
    margin-top: 0.5rem;
    font-size: 1.1em;
    
    a{
      color: #000;
    }
    // font-weight: 700;

  }

  li:hover{
    background-color: #00000009 ;
    border-radius: 2px;
    // color:#fff;
  }

  .linkActive{
    background-color: #807ee03d;
    border-radius: 2px;
    a{
      color: #b80012;
    }
  }
}

.blank-space{
  height: 2rem;

}



.show {
  display: block;
}

