//------- style for titles -------------------------
.titulo {
    font-weight: bolder;
    display: inline-block;
}

.titulo_alt {
    display: inline-block;
    color: $Global-blue;
}

.titulo_1 {
    width: 40%;
}

.titulo_2 {
    width: 100%;
    margin: 0.2em;
}
//-------------------------------------------------
.dark-blue {
    color: $Darker-blue;
}

.pointer {
    cursor: pointer;
}

// ------------------ Buttons -----------------------------
.btn-view {
    margin: 0.1em;
    padding: 0.2em;
    background-color: $Bg-White;
    color: #000;
    border: 2px solid #1f6f8a;
    border-radius: 6px;
    cursor: pointer;
}

.btn-view:hover {
    background-color: #1f6f8a;
    color: #fff;
}

.btn-update {
    margin: 0.1em;
    padding: 0.2em;
    background-color: $Bg-White;
    border: 2px solid $Darker-blue;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.1s ease-in;
}

.btn-update:hover {
    background-color: $Darker-blue;
    color: #fff;
}

.btn-remove {
    margin: 0.1em;
    padding: 0.2em;
    background-color: $Bg-White;
    border: 2px solid #9c0101;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.1s ease-in;

    &:hover {
        background-color: #9c0101;
        color: #fff;
    }
}

//-------- blue buttons -------------------

.edit-btn {
    border-radius: 6px;
    transition: 0.2s ease-in;

    &:hover {
        box-shadow: $boxShadow;
        background-color: $Brdr-grey;
    }
}

.button-login {
    width: 100%;
    border: 2px solid #1d647c;
    background: $Global-blue;
    border-radius: 10px;
    color: #fff;
    padding: 0.5em 0.5em;
    transition: ease-in 0.1s;
    letter-spacing: 0.1em;

    @media (max-width: $tablet) {
        padding: 0.3em 0.8em;
    }

    &:hover {
        cursor: pointer;
        background: $Darker-blue;
        border: 2px solid $Darker-blue;
    }
}

.button1 {
    background-color: $Global-blue;
    padding: 0.5em 0.8em;
    font-weight: 600;
    border-radius: 6px;
    border: 2px solid $Darker-blue;
    letter-spacing: 0.1em;
    transition: all 0.2s ease-in-out;
    color: #fff;

    @media (max-width: $tablet) {
        padding: 0.3em 0.8em;
    }

    &:hover {
        background-color: $Darker-blue;
        border: 2px solid $Global-blue;
        cursor: pointer;
        transform: translateY(-2px);
    }
}

.type-button {
    display: flex;
    padding: 0.5em;
    border: 1px solid $Darker-blue;
    border-radius: 6px;
    align-items: center;
    cursor: pointer;

    @media (max-width: $tablet) {
        margin: 0.5em;
    }
}

.button-small {
    background-color: $Global-blue;
    padding: 0.5em 0.8em;
    border-radius: 6px;
    color: #fff;
    border: 2px solid $Darker-blue;

    @media (max-width: $tablet) {
        padding: 0.3em 0.8em;
    }

    &:hover {
        background-color: $Darker-blue;
        color: #fff;
        border: 2px solid $Global-blue;
        cursor: pointer;
    }
}
//---------------------------------------------

//------ Red button ------------------
.button-save {
    border: 2px solid $Darker-blue;
    background-color: #fff;
    border-radius: 10px;
    color: #000;
    padding: 0.5em 0.5em;
    transition: ease-in 0.1s;
    letter-spacing: 0.1em;
    width: 100%;

    @media (max-width: $tablet) {
        padding: 0.3em 0.8em;
    }

    &:hover {
        cursor: pointer;
        background-color: $Darker-blue;
        border: 2px solid #fff;
        color: #fff;
    }
}

.button-remove {
    border: 2px solid $Darker-red;
    background-color: $Global-red;
    border-radius: 10px;
    color: #fff;
    padding: 0.5em 0.5em;
    transition: ease-in 0.1s;
    letter-spacing: 0.1em;
    width: 100%;

    @media (max-width: $tablet) {
        padding: 0.3em 0.8em;
    }

    &:hover {
        cursor: pointer;
        background-color: $Darker-red;
        border: 2px solid $Global-red;
        color: #fff;
    }
}
//--------------------------------------

//----- end of buttons --------------------------

//----- style for the table container -----------
.table-container {
    border-radius: 6px;
    margin: 1em 0 1em 0;

    .table {
        height: 100%;
        overflow: auto;
    }

    img {
        width: 30px;
        height: 30px;
    }
}
//---------- end of style table ----------------

.margin1 {
    margin: 1em;
}

.container {
    margin: 0 1em;
    min-height: 70vh;

    @media (min-width: $descktop-hd) {
        margin: 0 5em;
    }
}

.space-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

//container flex
.flex-container {
    display: flex;
    align-items: center;
}

//container flex-column
.flex-column {
    display: flex;
    align-items: center;
    flex-direction: column;
}

//container responsive
.responsive-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.row-reverse {
    flex-direction: row-reverse;
}

.title-cont {
    padding: 0.5em 0;
    margin: 1em 0;
    color: $Global-blue;
    border-bottom: 1px solid $Brdr-blue;

    @media (max-width: $tablet) {
        padding: 1em;
    }
}

// ------------ colors ------------------------------
.text-red {
    color: $Global-red;
}

.text-blue {
    color: $Global-blue;
}

.text-grey {
    color: $Text-grey;
}

.mrgTextCenter {
    margin: 2em 4em;
}

.text-centered {
    text-align: center;
}

.bg-blue {
    background-color: $Global-blue;
    border-radius: 6px;
}

.toogle-bg {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border: none;
    cursor: pointer;

    @media (max-width: $tablet) {
        margin: 0 2em 0 0;
    }

    img {
        width: 10px;
        height: 7px;
        transform-origin: 50% 50%;
        transition: all 0.3s;
    }

    .rotate {
        transform: rotate(180deg);
    }
}

.bg-red {
    border-radius: 6px;
    background-color: $Global-red;
}

//--------------- end colors ----------------------------

.line-17 {
    line-height: 1.7em;
}

//margin 2
.margin2 {
    margin: 2em;
}

.margin4 {
    margin: 4em;

    @media (max-width: $descktop) {
        margin: 2em;
    }
}

.paddinghor1 {
    padding: 0 1em;
}

.marginMinHor {
    margin: 0 0.2em;
}

.marginMinvert {
    margin: 0.2em 0;
}

.mrgvert05 {
    margin: 0.5em 0;
}

//margin up and down 1
.mrgvert1 {
    margin: 1em 0;
}

//margin up and down 2
.mrgvert2 {
    margin: 2em 0;
}

.mrgvert4 {
    margin: 4em 0;
}

.mrgtop8 {
    margin-top: 8em;

    @media (max-width: $descktop) {
        margin-top: 4em;
    }
}

//margin side to side 1
.mrghor1 {
    margin: 0 1em;
}

.mrghor05 {
    margin: 0 0.5em;
}
.mrghor2 {
    margin: 0 2em;
}

.mrghor4 {
    margin: 0 4em;
}

//width 100%
.width100 {
    width: 100%;
}

//width 100%
.width70 {
    width: 70%;
}

.width50 {
    width: 50%;
}

.mini-card {
    height: 100px;
}

.responsive-end {
    justify-content: flex-end;
}

.responsive-start {
    justify-content: flex-start;
}

.responsive-center {
    justify-content: center;
}

.responsive-evenly {
    justify-content: space-evenly;
}

.responsive-between {
    justify-content: space-between;
}

.rnd-brdr {
    border-radius: 6px;
}

.brd-blue {
    border: 1px solid $Brdr-blue;
    border-radius: 6px;
}

.underline {
    border-bottom: 1px solid $Darker-blue;
}

.brd-grey {
    border: 1px solid #ccc;
    border-radius: 6px;
}

.brd-none {
    border: none;
}

.l-input {
    width: 95%;
}

.ml-input {
    width: 70%;
}

.m-input {
    width: 45%;
}

.ms-input {
    width: 30%;
}

.s-input {
    width: 20%;
}

//link highlighted
.high-link {
    color: $Darker-blue;
    font-weight: bold;
}

//container 2
.container2 {
    width: 100%;
    margin-bottom: 1em;
    padding: 1em 0;
    border-bottom: 1px solid $Brdr-blue;
}
//end of container 2

//grid container
.grid-container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-bottom: 1em;
    padding: 1em 0;

    .el {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;

        @media (max-width: $tablet) {
            width: 100%;
        }
    }
}

.split {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    height: 100%;
    border-top: 1px solid $Brdr-grey;
}
//end of grid-container

.cont-header {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

//conteiner 3
.container3 {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    padding: 1em;
    border-bottom: 1px solid $Brdr-blue;
}
//end of container

//conteiner 3
.content3-line {
    display: flex;
    flex-wrap: wrap;
    padding: 1em;

    .el1,
    .el2,
    .el3 {
        margin: 0.5em 2em 0.5em 2em;
    }

    .el3 {
        display: flex;
        align-items: center;
    }
}
//---------------------------------

.side-fields {
    @media (min-width: $descktop) {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
    }

    .side {
        margin: 1em 0;

        @media (min-width: $descktop) {
            margin: 1em 4em 1em 0;
        }
    }
}

#rating {
    ul {
        display: flex;

        li {
            width: 23px;
            height: 23px;
            background-color: rgba(255, 0, 0, 0.082);

            img {
                margin: -1px -1px;
                position: absolute;
                width: 25px;
                height: 25px;
            }

            &:hover {
                background-color: $Global-red;
            }
        }
    }
}

//-----------style for form modal -------------------
.modal {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.74);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 999;
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s;

    &:target {
        visibility: visible;
        opacity: 1;
        pointer-events: auto;
    }

    & > div {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border-radius: 10px;
        background-color: #fff;
        border: 2px solid #fff;
        box-shadow: inset 0px 0px 10px -4px rgba(0, 0, 0);
    }

    .modal-header {
        display: flex;
        margin: 0;
        // border-top-left-radius: 6px;
        // border-top-right-radius: 6px;
        justify-content: center;
        // border-bottom: 1px solid $Darker-blue;
        padding: 2em;
        color: $Darker-blue;
        // background-color: $Global-blue;
    }

    .modal-body {
        display: flex;
        flex-wrap: wrap;
        padding: 1em 2em;
        // background-color: white;

        div{
            margin: 0.3em 0;
        }
    }

    .modal-footer {
        padding: 1em;
        display: flex;
        justify-content: space-between;
        padding: 2em 2em;
        border-top: 1px solid $Brdr-grey;
        // border-bottom-left-radius: 6px;
        // border-bottom-right-radius: 6px;
        // background-color: $Global-blue;
    }

    .x-close {
        border: 2px solid #fff;
        box-shadow: inset 0px 0px 10px -4px rgba(0, 0, 0);
        color: $Global-red;
        margin: 1em;
        position: absolute;
        border-radius: 50%;
        background-color: #fff;
        padding: 0.4em 0.5em;
        top: -30px;
        right: -25px;

        &:hover {
            // color: $Darker-blue;
            box-shadow: inset 0px 0px 5px -4px rgba(0, 0, 0);
        }
    }
}

.popUpCart {
    display: none;
    position: fixed;
    top: 10%;
    right: 3%;
    border-radius: 6px;
    border: 2px solid $Global-blue;
    box-shadow: $boxShadow;
    background: #fff;
    animation: vanish 0.4s ease-in-out;
    width: 300px;
    padding: 1em;

    .active {
        display: block;
    }

    .modal-header {
        display: flex;
        margin: 0;
        border-top-left-radius: 6px;
        border-top-right-radius: 6px;
        // border-bottom: 2px solid $Brdr-grey;
        padding: 2em 0 1em 0;
        // color: $Darker-blue;
        font-weight: bold;
        justify-content: center;
    }

    .modal-body {
        display: flex;
        flex-wrap: wrap;
        font-weight: bold;
        color: #000;
        margin: 3em 0;
        padding: 0.5em;
        justify-content: space-between;
        align-items: center;
        background-color: #fff;
        box-shadow: $boxShadow;
        border-radius: 10px;

        .pop-qnt {
            display: flex;
            flex-direction: column;
            align-items: center;

            label {
                margin: 0 0 1em 0;
                // color: $Global-red;
            }
        }
        .pop-prod {
            display: flex;
            align-items: center;

            img {
                margin-right: 1em;
                border-radius: 6px;
                width: 40px;
                height: 50px;
            }
        }
    }

    .modal-footer {
        display: flex;
        justify-content: space-between;
        padding: 1em 0;
        flex-direction: row;
        // border-top: 1px solid $Brdr-grey;
        border-bottom-left-radius: 6px;
        border-bottom-right-radius: 6px;
        width: 100%;

        button {
            margin: 0 0.1em;
        }
    }
}

.select-options {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
}

.active {
    display: block;
}

.alerts {
    background-color: $DshMenuActive;
}

.alert-success {
    display: inline-block;
    margin: 1em;
    color: rgb(0, 156, 0);
}

.alert-danger {
    display: inline-block;
    margin: 1em;

    p {
        font-weight: bold;
        color: #db0000;
    }
}

//-------------------------------------------

//------- input container component ------------------
.inputContainer {
    display: inline-block;
    width: 100%;
    margin: 0.5em 0;

    .form-label {
        margin-bottom: 0.6em;
        font-weight: bold;
    }

    .error {
        margin-top: 0.2em;
        font-size: 0.9em;
        color: red;
    }
}

.form-help {
    margin-top: 0.5em;
    font-size: 0.8em;
    color: #0000007c;
}

.form-text {
    padding: 0.5em 0.4em 0.5em 0.4em;
    width: 100%;
    font-size: 1em;
}

.bg-light {
    background-color: $Detail-blue;
}
//---------------------------------------------
