//------- style for titles -------------------------
.titulo {
  font-weight: bolder;
  display: inline-block;
}

.titulo_alt {
  display: inline-block;
  padding: 1em 0 0 1em;
}

.titulo_1 {
  width: 40%;
}

.titulo_2 {
  width: 100%;
  margin: 0.2em;
}
//-------------------------------------------------
.dark-blue {
  color: $Darker-blue;
}
// ------------------ Buttons -----------------------------
.btn-view {
  margin: 0.1em;
  padding: 0.2em;
  background-color: $Bg-White;
  color: #000;
  border: 2px solid #1f6f8a;
  border-radius: 6px;
  cursor: pointer;
}
.btn-view:hover {
  background-color: #1f6f8a;
  color: #fff;
}

.btn-update {
  margin: 0.1em;
  padding: 0.2em;
  background-color: $Bg-White;
  border: 2px solid $Darker-blue;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.1s ease-in;
}
.btn-update:hover {
  background-color: $Darker-blue;
  color: #fff;
}

.btn-remove {
  margin: 0.1em;
  padding: 0.2em;
  background-color: $Bg-White;
  border: 2px solid #9c0101;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.1s ease-in;
}
.btn-remove:hover {
  background-color: #9c0101;
  color: #fff;
}

//-------- blue buttons -------------------

.edit-btn {
  // margin: 0 0.5em 0 0.5em;
  // width: 40px;
  // height: 40px;
  border-radius: 6px;
  transition: 0.2s ease-in;
  &:hover {
    background-color: $Darker-blue;
  }
}

.button-login {
  border: 2px solid #1d647c;
  background: $Global-blue;
  border-radius: 6px;
  color: #fff;
  padding: 0.6em 4em;
  transition: ease-in 0.1s;
  font-weight: 800;
  letter-spacing: 0.1em;

  &:hover {
    cursor: pointer;
    background: $Darker-blue;
    border: 2px solid $Darker-blue;
  }
}

.button1 {
  background-color: #50b1d1;
  padding: 0.6em 3em;
  font-weight: 800;
  border-radius: 6px;
  border: 2px solid $Darker-blue;
  letter-spacing: 0.1em;

  &:hover {
    background-color: $Darker-blue;
    color: #fff;
    border: 2px solid $Global-blue;
    cursor: pointer;
  }
}

.button-small {
  background-color: #50b1d1;
  padding: 0.7em 1em;
  // font-weight: 800;
  border-radius: 6px;
  border: 2px solid $Darker-blue;
  // letter-spacing: 0.1em;

  &:hover {
    background-color: $Darker-blue;
    color: #fff;
    border: 2px solid $Global-blue;
    cursor: pointer;
  }
}
//---------------------------------------------

//------ Red button ------------------
.button-save {
  border: 2px solid #b60b0b;
  background-color: $Global-red;
  border-radius: 6px;
  color: #fff;
  padding: 0.6em 4em;
  transition: ease-in 0.1s;
  font-weight: 800;
  letter-spacing: 0.1em;
  &:hover {
    cursor: pointer;
    background-color: #b60b0b;
    border: 2px solid $Global-red;
    // transform: translateY(-2px);
  }
}
//--------------------------------------

//----- end of buttons --------------------------

//----- style for the table container -----------
.table-container {
  border-radius: 6px;
  background-color: #fff;
  border: 1px solid $Global-red;
  padding: 0.5em;
  margin: 0.5em;

  .table {
    height: 100%;
    overflow: auto;
    padding-right: 0.2em;
  }

  div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .img {
      height: 30px;
      width: 30px;

      display: flex;
      align-items: center;

      img {
        width: 30px;
        height: 30px;
      }
    }
  }
}
//---------- end of style table ----------------
//margin 1
.margin1 {
  margin: 1em;
}

.container {
  margin: 0 1em;
  min-height: 70vh;
}

.space-between {
  display: flex;
  justify-content: space-between;
}

//container flex
.flex-container {
  display: flex;
  align-items: center;
}
//container flex

//container flex-column
.flex-column {
  display: flex;
  align-items: center;
  flex-direction: column;
}
//container flex

//container responsive
.responsive-container {
  display: flex;
  flex-wrap: wrap;
}

.row-reverse {
  flex-direction: row-reverse;
}

// ------------ colors ------------------------------
.text-red {
  color: $Global-red;
}

.text-blue {
  color: $Global-blue;
}

.text-grey {
  color: $Text-grey;
}

.bg-blue {
  background-color: $Global-blue;
  border-radius: 6px;
}

.toogle-bg {
  // // position: absolute;
  // right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  // background-color: $Global-red;
  // padding: 0.2em;
  border: none;
  // border-radius: 5px; 

  @media (max-width: $tablet) {
    margin: 0 2em 0 0;
  }
  img {
    width: 10px;
    height: 7px;
    transform-origin: 50% 50%;
    transition: all 0.3s;
  }

  .rotate{
    transform: rotate(180deg);
  }
}

.bg-red {
  border-radius: 6px;
  background-color: $Global-red;
}

//--------------- end colors ----------------------------

.line-17 {
  line-height: 1.7em;
}

//margin 2
.margin2 {
  margin: 2em;
}

.margin4 {
  margin: 4em;

  @media (max-width: $descktop) {
    margin: 2em;
  }
}

.paddinghor1 {
  padding: 0 1em;
}

.marginMinHor {
  margin: 0 0.2em;
}

.marginMinvert {
  margin: 0.2em 0;
}

//margin up and down 1
.mrgvert1 {
  margin: 1em 0;
}

//margin up and down 2
.mrgvert2 {
  margin: 2em 0;
}

.mrgvert4 {
  margin: 4em 0;
}

.mrgtop8 {
  margin-top: 8em;

  @media (max-width: $descktop) {
    margin-top: 4em;
  }
}

//margin side to side 1
.mrghor1 {
  margin: 0 1em;
}
.mrghor2 {
  margin: 0 2em;
}

.mrghor4 {
  margin: 0 4em;
}

.mrgTextCenter {
  margin: 2em 4em;
}

//width 100%
.width100 {
  width: 100%;
}
//width 100%
.width70 {
  width: 70%;
}

.mini-card {
  height: 100px;
}

.responsive-end {
  justify-content: flex-end;
}
.responsive-start {
  justify-content: flex-start;
}
.responsive-center {
  justify-content: center;
}
.responsive-evenly {
  justify-content: space-evenly;
}
.responsive-between {
  justify-content: space-between;
}

.text-centered {
  text-align: center;
}

.rnd-brdr {
  border-radius: 6px;
}

.brd-blue {
  border: 1px solid $Brdr-blue;
  border-radius: 6px;
}

.brd-grey {
  border: 1px solid #ccc;
  border-radius: 6px;
}

.brd-none {
  border: none;
}

.l-input {
  width: 100%;
}

.ml-input {
  width: 90%;
}

.m-input {
  width: 45%;
}

.ms-input {
  width: 30%;
}

.s-input {
  width: 20%;
}

//link highlighted
.high-link {
  color: $Darker-blue;
  font-weight: bold;
}
//conteiner 2
.container2 {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  padding: 1em;
  border-bottom: 1px solid $Brdr-blue;
}
//end of container 2

.cont-header {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

//conteiner 3
.container3 {
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  padding: 1em;
  border-bottom: 1px solid $Brdr-blue;
}
//end of container

//conteiner 3
.content3-line {
  display: flex;
  flex-wrap: wrap;
  padding: 1em;

  .el1,
  .el2,
  .el3 {
    margin: 0.5em 2em 0.5em 2em;
  }
  .el3 {
    display: flex;
    align-items: center;
  }
}
//---------------------------------

.side-fields {

  @media (min-width: $descktop) {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }

  .side {
    margin: 1em 0;
    @media (min-width: $descktop) {
      margin: 1em 4em 1em 1em;
    }
  }
}

#rating {
  ul {
    display: flex;
    li {
      width: 23px;
      height: 23px;
      background-color: rgba(255, 0, 0, 0.082);

      img {
        margin: -1px -1px;
        position: absolute;
        width: 25px;
        height: 25px;
      }
      &:hover {
        background-color: $Global-red;
      }
    }
  }
}

//-----------style for form modal -------------------
.modal {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.74);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 999;
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s;
  &:target {
    visibility: visible;
    opacity: 1;
    pointer-events: auto;
  }
  & > div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 6px;
  }
  .modal-header {
    display: flex;
    margin: 0;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    border-bottom: 1px solid $Darker-blue;
    padding: 2em 4em;
    background-color: $Global-blue;
    // h2 {
    //   @media (max-width: $tablet) {
    //     font-size: 1em;
    //   }
    // }
  }

  .modal-body {
    display: flex;
    flex-wrap: wrap;
    padding: 1em 2em;
    background-color: white;
  }
  .modal-footer {
    padding: 0.5em;
    display: flex;
    justify-content: center;
    padding: 2em 2em;
    border-top: 1px solid $Darker-blue;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    background-color: $Global-blue;
  }
}

.popUpCart {
  display: none;
  position: fixed;
  top: 10%;
  right: 3%;
  border-radius: 6px;
  border: 2px solid rgba(255, 255, 255, 0.226);
  background: $Global-grd;
  animation: vanish 0.4s ease-in-out;

  .active {
    display: block;
  }

  .modal-header {
    display: flex;
    margin: 0;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.226);
    padding: 1.5em 1em 1em 1em;
    // background: $Global-grd;
    color: #ffffff;
    font-weight: bold;
    justify-content: center;
    // h2 {
    //   @media (max-width: $tablet) {
    //     font-size: 1em;
    //   }
    // }
  }

  .modal-body {
    display: flex;
    flex-wrap: wrap;
    // padding: 0.5em 1em;
    // background-color: white;
    font-weight: bold;
    color: #fff;
    margin: 1.5em 0.5em;

    div {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin: 0.5em;
      label {
        margin: 0 0 1em 0;
      }

      img {
        margin: 1.5em 0 0 0;
        border-radius: 6px;
      }
    }
  }
  .modal-footer {
    display: flex;
    justify-content: center;
    // align-items: center;
    padding: 1em 0;
    flex-direction: column;
    border-top: 1px solid rgba(255, 255, 255, 0.226);
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    // background-color: #fff;
    button {
      margin: 0.5em 2em;
    }
  }
}

.select-options {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-evenly;
}

.x-close {
  color: $Global-red;
  margin: 1em;
  position: absolute;
  top: 0;
  right: 0;
  &:hover {
    color: $Darker-blue;
  }
}

.active {
  display: block;
}

.alerts {
  background-color: $DshMenuActive;
}
.alert-success {
  display: inline-block;
  margin: 1em;
  color: rgb(0, 156, 0);
}

.alert-danger {
  display: inline-block;
  margin: 1em;
  p {
    font-weight: bold;
    color: #db0000;
  }
}

//-------------------------------------------

//------- input container component ------------------
.inputContainer {
  display: inline-block;
  width: 100%;

  .form-label {
    margin: 0.6em 0 0.6em 0;
    font-weight: bold;
  }

  .error {
    margin: 0.2em 0;
    font-size: 0.9em;
    color: red;
  }
}

.form-help {
  margin: 0.5em 0 0.5em 0;
  font-size: 0.8em;
  color: #0000007c;
}

.form-text {
  padding: 0.5em 0.4em 0.5em 0.4em;
  width: 100%;
  font-size: 1em;
}

.bg-light {
  // background-color: #074e661c;
  background-color: $Detail-blue;
}
//---------------------------------------------
