.content {
  margin: 1em;
}

.space-between {
  display: flex;
  justify-content: space-between;
  margin: 1em 2em 0.5em 2em;
}

.product-filters {
  padding: 1em;
  border: 1px solid $Brdr-blue;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  // -webkit-box-shadow: $boxShadow;
  // -moz-box-shadow: $boxShadow;
  // box-shadow: $boxShadow;
}

.search {
  display: flex;
  align-items: center;
  width: 40%;
}

.brd-blue {
border: 1px solid $Brdr-blue;
border-radius: 10px;
}

.brd-grey {
border: 1px solid #ccc;
border-radius: 10px;
}

.b-input {
  width: 100%;
}

.mb-input {
  width: 90%;
}

.m-input {
  width: 50%;
}

.ms-input {
  width: 30%;
}

.s-input {
  width: 10%;
}

//link highlighted
.high-link {
  color: $Darker-blue;
  font-weight: bold;
}

// input container component
.inputContainer {
  display: inline-block;
  padding: 0.5em;
  margin: 0 0.5em 0 0.5em;

  .form-label {
    margin: 0.6em 0 0.6em 0;
    font-weight: bold;
  }

  .form-help {
    margin: 0.5em 0 0.5em 0;
    font-size: 0.8em;
    color: #0000007c;
  }

  .small-field {
    width: 30px;
  }
}

.form-text {
  padding: 0.5em 0.4em 0.5em 0.4em;
  width: 100%;
  font-size: 1em;
}
//end of input container component

//input longer
.long-name {
  width: 300px;
}

.productInputContent {
  display: flex;
}

.marg-r {
  margin-right: 5em;
}

.sm-marg-l {
  margin-left: 0.4em;
}

input[type="file"] {
  display: none;
}

//style for input images
.imageButton {
  height: 20%;
  display: inline-block;
  margin: 1em 0 1em 0;
  i {
    border: 2px solid #1d647c;
    background-color: $Darker-blue;
    border-radius: 10px;
    color: #fff;
    padding: 5px;

    &:hover {
      cursor: pointer;
      background-color: #1d647c;
      border: 2px solid $Darker-blue;
    }
  }
}

.principal-image-preview {
  display: flex;
  flex-direction: column;
  margin: auto;
  border-radius: 10px;
  max-width: 400px;
  align-items: center;

  img {
    border-radius: 10px;
    max-width: 100%;
    max-height: 80%;
    margin: 0.2em 0 0.2em 0;
  }
}

.image-cont-button{
  margin-top: 1em;
  display: flex;
  justify-content: center;
}


.images-preview {
  display: flex;
  flex-wrap: wrap;
  margin: 0.5em 0 0.5em 0;
  padding: 0.5em;
  .preview-cont {
    display: flex;
    flex-direction: column;
    align-items: center;
    img {
      border-radius: 10px;
      width: 220px;
      height: auto;
      margin: 1em;
    }
  }
}


//end of style for input images

//style for the main button
.button-save {
  border: 3px solid #b60b0b;
  background-color: $Global-red;
  border-radius: 10px;
  color: #fff;
  padding: 5px 20px 5px 20px;
  transition: ease-in 0.1s;
}
.button-save:hover {
  cursor: pointer;
  background-color: #b60b0b;
  border: 3px solid $Global-red;
  // transform: translateY(-2px);
}

//end of style for the main button

//style for modal inputs
.modal {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.74);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 999;
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s;
  &:target {
    visibility: visible;
    opacity: 1;
    pointer-events: auto;
  }
  & > div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 2em;
    background: white;
    border-radius: 10px;
  }
  .modal-header {
    display: flex;
    margin: 1em;
  }

  .modal-body {
    display: flex;
    flex-wrap: wrap;
  }
}

.select-options {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-evenly;
}
.modal-close {
  color: #aaa;
  line-height: 50px;
  font-size: 80%;
  position: absolute;
  right: 0;
  text-align: center;
  top: 0;
  width: 70px;
  text-decoration: none;
  &:hover {
    color: black;
  }
}

.x-close {
  margin: 1em;
  position: absolute;
  top: 0;
  right: 0;
}

.active {
  display: block;
}

.modal-footer {
  padding: 0.5em;
  display: flex;
  justify-content: center;
}

.alerts {
  background-color: $DshMenuActive;
}
.alert-success {
  display: inline-block;
  margin: 1em;
  color: rgb(0, 156, 0);
}

.alert-danger {
  display: inline-block;
  margin: 1em;
  p {
    font-weight: bold;
    color: #db0000;
  }
}

//end of style modal inputs
