.titulo{
  // width: 100%;
  padding: 0.5em 0 0 1em;
  font-weight: bolder;
  display: inline-block;
}

.titulo_alt{
  display: inline-block;
  padding: 1em 0 0 1em ;
}
.productInputContent{
  margin-top: 2em;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;

  .container-inputs{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0.8em 2em 1em 2em ;
    
    .inputContainer{
      display: flex;
      flex-direction: column;
      padding: 0.5em;
    }
    
    .input-form-names{
      // margin: 0.5em;
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 50%;
    }

    .form-text{
      padding: 0.4em 0.2em 0.4em 0.2em;
    }

    .input-form-image{
      width: 50%;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      
      .form-label{
        height: 20%;
      }
    }

    input[type="file"] {
      display: none;
    }
    .imageButton {
      height: 20%;
      display: inline-block;
      margin: 1em 0 1em 0;
      i{
          border: 4px solid #b60b0b;
          background-color: #e98481;
          border-radius:10px;
          color: #fff;
          padding: 5px 20px 5px 20px;
      }
      i:hover{
        cursor: pointer;
        background-color: #b60b0b;
        border: 4px solid #e98481;
        }
    }

    .image-preview{
      display: flex;
      align-items: center;
      flex-direction: column;
      margin: 1em;
      img{
        width: 150px;
        height: 100%;
      }
    }

    .select-options{
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;
      width: 100%;

      select{
        padding: 0.3em 0.2em 0.2em 0.2em;
      }

      .customization-form{
        margin-top: 0.6em;
      }
    }

    .input-form-description{
      width: 100%;
      .form-longtext{
        padding: 1em 0.4em 1em 0.4em;
      }
    }

    .form-label{
      margin: 0.6em 0 0.6em 0;
      font-weight: bold;
    }

    .form-help{
      margin: 0.5em 0 0.5em 0;
      font-size: 0.8em;
      color: #0000007c;
    }

    .input-product-images{
      width: 100%;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      // justify-content: center;
      .form-label-img{
        margin: 0.3em 0 0.3em 0;
        font-weight: bold;
        width: 100%;
      }
      .input-images{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin: 0.5em;
        width: 100%;
        }
      
      .form-help-img{
        width: 100%;
        text-align: center;
        margin: 0.3em 0 0.3em 0;
        font-size: 0.8em;
        color: #0000007c;
      }
    }
    .product-values{
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;
      width: 100%;

      input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }
      
      .input-value{
        width: 100px;
        padding: 0.3em 0.5em 0.2em 0.5em ;
      }

      
    }
  }
  .button-product{
    margin-top: 2em;
    width: 100%;
    text-align: center;
    .button-save{
        border: 4px solid #b60b0b;
        background-color: #e98481;
        border-radius:10px;
        color: #fff;
        padding: 5px 20px 5px 20px;
    }
    .button-save:hover{
      cursor: pointer;
      background-color: #b60b0b;
      border: 4px solid #e98481;
      }
    
  }
}