@import "reset";
@import "colors";
@import "dashboard";
@import "inputsDash";
@import "componentsDash";
@import "animations";
@import "componentsSite";

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  scroll-behavior: smooth;
  background-color: $BgBody;
  height: 100%;
  background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 81%, rgba(124,222,255,1) 100%);
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

h1 {
  font-size: 2.5em;
}

h2 {
  font-size: 2.2em;
}

h3 {
  font-size: 1.8em;
}

h4 {
  font-size: 1.5em;
}

h5 {
  font-size: 1.25em;
}

h6 {
  font-size: 1.15em;
}

hr{
  border: 1px solid #ccc;
}

b{
  font-weight: bold;
}

::-webkit-scrollbar {
  width: 0.8em;
}

/* Track */
// ::-webkit-scrollbar-track {
//   // box-shadow: inset 0 0 5px grey;
//   // background-color: white;
//   // border-radius: 10px;
// }

/* Handle */
::-webkit-scrollbar-thumb {
  background: #959596;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #585858;
}

a {
  text-decoration: none;
  align-self: center;
  color: #000;
}

//remove the arrows from input type number
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

table {
  width: 100%;
  border-spacing: 0;
  border-collapse: separate;
  border-radius: 10px;

  .feel {
    width: 20px;
  }
  caption {
    text-transform: uppercase;
    font-weight: bold;
    color: $Global-red;
    text-align: center;
    padding-bottom: 0.5em;
  }
  thead {
    // background-color: #006ac6;
    th {
      text-transform: uppercase;
      text-align: center;
      font-weight: bold;
      padding: 0.5em;
      color: black;
      font-size: 1em;

      // border: 1px solid #F1F1F1;
    }
  }
  tbody {
    // background-color: rgb(243, 243, 0);
    tr {
      color: #000;

      td {
        border-top: 1px solid $Global-red;
        padding: 0.5em 1em 0.5em 1em;
        text-align: center;
        // border: 1px solid #000;
      }
      th {
        border-top: 1px solid $Global-red;
        text-align: center;
        // border: 1px solid #000;
      }
    }
  }
  tfoot {
    color: $Global-red;
    font-style: italic;
    border-bottom: 2px solid $Global-red;
    tr {
      td {
        padding: 0.5em;
        border: 1px solid #f1f1f1;
      }
    }
  }
}

.color-footer {
  position: absolute;
  z-index: -1;
  bottom: 0;
  width: 100%;
  height: 200px;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.4009978991596639) 0%, rgba(124, 222, 255, 1) 100%);
}


input[type="number"],
input[type="checkbox"],
select{
  border: 1px solid $Darker-blue;
  border-radius: 10px;
  padding: 0.5em 0.4em 0.5em 0.4em;
}

input[type="text"]{
  border: 1px solid $Darker-blue;
  border-radius: 10px;
  padding: 0.5em 0.4em 0.5em 0.4em;
  width: 100%;

  &:focus{
    -webkit-box-shadow: inset 0px 0px 3px 0px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: inset 0px 0px 3px 0px rgba(0, 0, 0, 0.25);
  box-shadow: inset 0px 0px 3px 0px rgba(0, 0, 0, 0.25);
  }
}

textarea{
  border: 1px solid $Darker-blue;
  border-radius: 10px;
  padding: 0.5em 0.4em 2em 0.4em;
  width: 100%;

  &:focus{
    -webkit-box-shadow: inset 0px 0px 3px 0px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: inset 0px 0px 3px 0px rgba(0, 0, 0, 0.25);
  box-shadow: inset 0px 0px 3px 0px rgba(0, 0, 0, 0.25);
  }
}

// input[type="text"],
// input[type="number"],
// input[type="checkbox"],
// select,
// textarea :focus {
//   -webkit-box-shadow: inset 0px 0px 3px 0px rgba(0, 0, 0, 0.25);
//   -moz-box-shadow: inset 0px 0px 3px 0px rgba(0, 0, 0, 0.25);
//   box-shadow: inset 0px 0px 3px 0px rgba(0, 0, 0, 0.25);
// }

input,
select,
textarea:focus {
  outline: none;
}
