@import 'colors';
@import 'dashboard';
@import 'reset';
@import 'inputsDash';

body{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  scroll-behavior: smooth;
  background-color: $B-lightblue;
}

h1{
  font-size: 2.5em;
}

h2{
  font-size: 2.2em;
}

h3{
  font-size: 1.8em;
}

h4{
  font-size: 1.5em;
}

h5{
  font-size: 1.25em;
}

h6{
  font-size: 1.15em;
}

::-webkit-scrollbar {
  width: 0.8em;
}

/* Track */
// ::-webkit-scrollbar-track {
//   // box-shadow: inset 0 0 5px grey;
//   // background-color: white; 
//   // border-radius: 10px;
// }
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #959596; 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #585858; 
}

a{
  text-decoration: none;
}


table{
    width: 100%;
    border-spacing: 0;
    border-collapse: separate;
    border-radius: 15px;
    

    .feel{
      width: 20px;
    }
    caption {
        text-transform: uppercase;
        font-weight: bold;
        color: $DM-red;
        text-align: center;
        padding-bottom: 0.5em;
    }
    thead {
        // background-color: #006ac6;
        th {
            text-transform: uppercase;
            text-align: center;
            font-weight: bold;
            padding: 10px;
            color: black;
            font-size: 16px;
            
            
            // border: 1px solid #F1F1F1;
        }
    }
    tbody {
        // background-color: rgb(243, 243, 0);
        tr {

            color: #000;
            
            td {
              border-top: 1px solid $DM-red;
              padding: 10px;
              text-align: center;
                // border: 1px solid #000;
            }
            th {
              border-top: 1px solid $DM-red;
                text-align: center;
                // border: 1px solid #000;
            }
        }
    }
    tfoot {
        color: $DM-red;
        font-style: italic;
        border-bottom: 2px solid $DM-red;
        tr {
            td {
                padding: 10px;
                border: 1px solid #F1F1F1;
            }
        }
    }
}


input[type="text"],
input[type="number"],
input[type="checkbox"], select, textarea{
  border: 1px solid rgb(185, 185, 185);
  border-radius: 20px;
  -webkit-box-shadow: inset 0px 0px 5px 0px rgba(0,0,0,0.25);
  -moz-box-shadow: inset 0px 0px 5px 0px rgba(0,0,0,0.25);
  box-shadow: inset 0px 0px 5px 0px rgba(0,0,0,0.25);
  padding: 0.5em 0.4em 0.5em 0.4em;

}

input, select, textarea:focus{
  outline: none;
}